@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('http://fonts.cdnfonts.com/css/circular-std-book');
.ph-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    overflow: hidden;
    direction: ltr;
    border-radius: 2px;
}

.ph-item:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    background: linear-gradient( 90deg, hsla(0, 0%, 100%, 0) 46%, hsla(0, 0%, 100%, .35) 50%, hsla(0, 0%, 100%, 0) 54%) 50% 50%;
    -webkit-animation: phAnimation .8s linear infinite;
    animation: phAnimation .8s linear infinite;
    content: " ";
    pointer-events: none;
}

@-webkit-keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0)
    }
    to {
        transform: translate3d(30%, 0, 0)
    }
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0)
    }
    to {
        transform: translate3d(30%, 0, 0)
    }
}